---
# COMMON PLAYBOOK - Basis configuratie voor alle servers
# Dit playbook bevat configuratie die op ALLE servers moet draaien.
#
# Wordt als eerste uitgevoerd via site.yml

- name: Basis server configuratie
  hosts: all
  become: true

  vars:
    server_timezone: "Europe/Brussels"

  tasks:
    # Timezone instellen op Europe/Brussels
    - name: Set timezone to {{ server_timezone }}
      community.general.timezone:
        name: "{{ server_timezone }}"
      notify: Restart cron

  handlers:
    # Cron herstarten zodat scheduled jobs de juiste tijd gebruiken
    - name: Restart cron
      service:
        name: cron
        state: restarted
