# Bestanden die niet in de Docker image hoeven

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Virtual environment
venv/
.venv/

# IDE
.vscode/
.idea/

# Git
.git/
.gitignore

# Documentation
README.md
*.md

# Docker
Dockerfile
.dockerignore
